<!--GENERO CONTENIDO VISTA PARCIAL-->

<p lass="lead">
    <b> Las vistas parciales</b> son vistas que se
    representan dentro de otras vistas,
    se pueden reutilizar y evitar
    la duplicación de código.
    Tienen una extensión <em>.cshtml</em>
    y por convención su nombre comienzan con un guion bajo <b>(_)</b>.
</p>



