@{
    ViewBag.Title = "Cursos";
}

<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/Images/Vista-Parcial-Logico.jpg"
             class="img-fluid" style="width:550px; " />
    </div>
</div>
<br />

@{
    Html.RenderAction("_Cursos", "Cursos");
}



