@{
    ViewBag.Title = "Home";
}


<!--Agrego mi vista parcial-->

<div class="jumbotron">

    @Html.Partial("_MiPrimeraVistaParcial")

</div>




<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/Images/Vista-Parcial-Simple.png"
             class="img-fluid" style="width:550px; " />
    </div>
</div>

<br />
